
<h4>Dear <%= @user.name %>,</h4>
<p>
	To reset your password, please click this link:
	<a href="wwww.localhost:5002/users/get-new-password/<%=@forgot_code%>"> wwww.localhost:5002/users/get-password/<%=@forgot_code%></a>
</p>
<p>Thanks for joining and have a great day!</p>
<h4>Best regards.</h4>

