
<h4>Dear <%= @user.name %>,</h4>
<p>
	Để nhận mật khẩu mới, bạn vui lòng dùng code này nhập vào ô code:
	<br/>
	<strong>Code: <%=@forgot_code%></strong>
</p>
<p>Thanks for joining and have a great day!</p>
<h4>Best regards.</h4>

