
<h4>Dear <%= @user.name %>,</h4>
<p>
	You have requested to reset your password and your new password is: <strong><%= @password %></strong>.<br>
</p>
<p>Thanks for joining and have a great day!</p>
<h4>Best regards.</h4>

