
<h4>Dear <%= @user.name %>,</h4>
<p>
	Mật khẩu mới của bạn là: <strong><%= @password %></strong><br>
	Vui lòng dùng mật khẩu mới để đăng nhập.
</p>
<p>Thanks for joining and have a great day!</p>
<h4>Best regards.</h4>

