<h2>Test MBUY</h2>
<form method="POST">
	<input type="text" name="isdn" value="0908048683"><br><br>
	<select name="amount">
		<option value="1000" selected="selected">1.000 đ</option>
		<option value="2000">2.000 đ</option>
		<option value="3000">3.000 đ</option>
		<option value="5000">5.000 đ</option>
		<option value="10000">10.000 đ</option>
		<option value="15000">15.000 đ</option>
		<option value="20000">20.000 đ</option>
		<option value="30000">30.000 đ</option>
		<option value="50000">50.000 đ</option>
		<option value="100000">100.000 đ</option>
	</select><br><br>
	<button type="submit" name="submit">Nạp</button>
</form>