<div class="row">
  <div class="col-md-12">
    <!-- START PANEL -->
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for [:acp, @data], :html => {:class => "form_#{controller_name}", multipart: true } do |f| %>
            <% if @data.errors.any? %>
                <div id="error_explanation">
                  <h2>Có <%= pluralize(@data.errors.count, "") %> lỗi xảy ra, Bạn không thể lưu hình nền của phòng: </h2>
                  <ul><% @data.errors.full_messages.each do |message| %><li><%= message %></li><% end %></ul>
                </div>
            <% end %>

            <div class="row">
              <% if action_name != 'new'%>
              <div class="col-sm-6">
                <div class="form-group form-group-default required">
                  <label>Image</label>
                  <% if FileTest.exist?("public#{@data.image.square}") %>
                      <img src="<%="#{request.base_url}#{@data.image.square}"%>">
                  <% else %>
                      No image
                  <% end%>
                </div>
              </div>
              <%end%>
              <div class="col-sm-6">
                <div class="form-group form-group-default required">
                  <label>Choose file</label>
                  <input type="file" class="form-control data-room-background-image" name="data[image]" required >
                </div>
              </div>
            </div>
            <div class="row">
              <button class="btn btn-primary btn-cons from-left pull-right button-background-image" type="submit" value="Submit">
                <span>Submit</span>
              </button>
            </div>
        <% end %>
      </div>
    </div>
    <!-- END PANEL -->
  </div>
</div>
