<div class="header ">
  <!-- START MOBILE CONTROLS -->
  <!-- LEFT SIDE -->
  <div class="pull-left full-height visible-sm visible-xs">
    <!-- START ACTION BAR -->
    <div class="sm-action-bar">
      <a href="#" class="btn-link toggle-sidebar" data-toggle="sidebar">
        <span class="icon-set menu-hambuger"></span>
      </a>
    </div>
    <!-- END ACTION BAR -->
  </div>
  <!-- RIGHT SIDE -->
  <div class="pull-right full-height visible-sm visible-xs">
    <!-- START ACTION BAR -->
    <div class="sm-action-bar">
      <a href="#" class="btn-link" data-toggle="quickview" data-toggle-element="#quickview">
        <span class="icon-set menu-hambuger-plus"></span>
      </a>
    </div>
    <!-- END ACTION BAR -->
  </div>
  <!-- END MOBILE CONTROLS -->
  <div class=" pull-left sm-table">
    <div class="header-inner">
      <div class="brand inline">
        <img src="{theme_url()}assets/img/logo.png" alt="logo" data-src="{theme_url()}assets/img/logo.png" data-src-retina="{theme_url()}assets/img/logo_2x.png" width="78" height="22">
      </div>
    </div>
  </div>
  <div class=" pull-right">
    <!-- START User Info-->
    <div class="visible-lg visible-md m-t-10">
      <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
        <a href="/authorize/logout">
            <span class="pull-left">Logout&nbsp;</span>
            <span class="pull-right"><i class="pg-power"></i></span>
        </a>
      </div>
    </div>
    <!-- END User Info-->
  </div>
</div>