<div class="page-sidebar" data-pages="sidebar">
  <div id="appMenu" class="sidebar-overlay-slide from-top"></div>
  <!-- BEGIN SIDEBAR HEADER -->
  <div class="sidebar-header">
    <img src="/assets/img/LS_logo.png" alt="logo" class="brand" data-src="/assets/img/LS_logo.png" data-src-retina="/assets/img/LS_logo.png" width="55">
    <div class="sidebar-header-controls">
        <button data-pages-toggle="#appMenu" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" type="button"><i class="fa fa-angle-down fs-16"></i></button>
        <button data-toggle-pin="sidebar" class="btn btn-link visible-lg-inline" type="button"><i class="fa fs-12"></i></button>
    </div>
  </div>
  <!-- END SIDEBAR HEADER -->
  <!-- BEGIN SIDEBAR MENU -->
  <div class="sidebar-menu">
    <ul class="menu-items">
      <li class="<% if controller_name == 'room_types' %>active<% end %> m-t-30">
        <a href="#">
          <span class="title">Room Types</span>
          <span class=" arrow"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'room_types' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_room_types_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'room_types' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_room_type_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      
      <li class="<% if controller_name == 'broadcasters' %>active<% end %>">
        <a href="#">
          <span class="title">Idols</span>
          <span class=" arrow"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'broadcasters' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_broadcasters_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'broadcasters' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_broadcaster_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <!-- END SIDEBAR MENU -->
</div>