<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb">
        <li><a href="/acp">Home</a></li>
        <li><a href="#" class="active">Idols List</a></li>
      </ul>
      <!-- END BREADCRUMB -->
    </div>
  </div>
</div>
<div class="container-fluid bg-white">
  <%= render 'shared/alert' %>
  <!-- START PANEL -->
  <div class="panel panel-transparent">
    <div class="panel-heading">
      <div class="row">
        <form action="">
          <div class="col-md-2">
            <input type="text" id="search-table" class="form-control pull-right" placeholder="Input at least 3 characters ...">
          </div>
          <div class="col-md-3">
            <div class="input-daterange input-group">
              <input type="text" class="form-control" name="start_date" value="" id="start_date" aria-invalid="false">
              <span class="input-group-addon">to</span>
              <input type="text" class="form-control" name="end_date" value="" id="end_date" aria-invalid="false">
            </div>
          </div>
          <div class="col-md-1">
            <button class="btn btn-info" name="save">Search</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-complete pull-right"><span><i class="fa fa-cloud-download"></i></span></button>
          </div>
        </form>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <form action="" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <table class="table table-hover no-more-tables">
          <thead>
          <tr>
            <th style="width:3%">
              <div class="checkbox ">
                <input type="checkbox" id="check-all">
                <label for="check-all"></label>
              </div>
            </th>
            <th style="width:40%">Bank ID</th>
            <th style="width:40%">Tên ngân hàng</th>
            <th style="width:10%">Trạng thái</th>
            <th style="width:7%">Hành động</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td>a</td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
  <!-- END PANEL -->
</div>