<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb">
        <li><a href="/acp">Home</a></li>
        <li><a href="/acp/<%= controller_name %>">Home Featureds</a></li>
        <li><a href="#" class="active">Cập nhật</a></li>
      </ul>
      <!-- END BREADCRUMB -->
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid bg-white">
  <!-- START PANEL -->
  <%= render 'form' %>
  <!-- END PANEL -->
</div>